body
{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#bloc_page
{
    width: 100%;
    margin: auto;
}

section h1
{
    font-family: Impact, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img
{
    width: 63%;
    height: 69%;
}

header h1
{
    font-family: Impact, sans-serif;
    font-size: xx-large;
    color: white;
    font-weight: normal;
    margin: 0 0 0 20px;
}


h1
{
    font-family: Impact, sans-serif;
    font-size: medium;
    color: orangered;
    text-align: justify;
}

.modal {
  display: none; /* masqqué par default */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* activer le defilement si besoin */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

opacity {
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
}
/*section .carousel1 {
    height: 250px;
    width: 80%;
    position: relative;
}

section .carousel1 .switchLeft,
#carousel1 .switchRight {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: lightgreen;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
}

section .carousel1 .switchLeft {
    position: absolute;
    left: -50px;
}

section .carousel1 .switchRight {
    position: absolute;
    right: -50px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
}

.container {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.slider {
  display: flex;
  flex: 1 1 500px;
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

.item {
  flex: 0 0 150px;
  height: 215px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  $numBoxes: 20;
  $step: 360 / $numBoxes;

  &:first-child {
    margin-left: 0;
  }

  @for $i from 1 through $numBoxes {
    &:nth-child(#{$i}) {
      background: hsla($i * $step, 90%, 60%, 1);
      z-index: $numBoxes - $i + 1;
    }
  }

  a {
    flex: 1;
  }
}

.controls {
  margin-top: 20px;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    border-radius: 25px;
    background: hsla(0, 90%, 65%, 1);
    padding: 12px 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    -webkit-appearance: none;
    cursor: pointer;
  }
}

.progress-bar {
  flex: 0 0 200px;
  height: 4px;
  border-radius: 4px;
  margin: 0 20px;
  background: hsla(0, 90%, 65%, 1);
  transform: scaleX(0);
  transform-origin: 0% 50%;
}*/
