body
{
    background-color: black;
    font-family: Impact, sans-serif;
}

#bloc_page
{
    width: 100%;
    margin: auto;
}

section h1
{
    font-family: Impact, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img
{
    width: 63px;
    height: 69px;
}

header h1
{
    font-family: Impact, sans-serif;
    font-size: xx-large;
    color: white;
    font-weight: normal;
    margin: 0 0 0 20px;
}

balise
{
    font-family: Impact, sans-serif;
}
h1
{
    font-family: Impact, sans-serif;
    font-size: medium;
    color: orangered;
    text-align: justify;
}
#conteneur1
{
    display: flex;
    justify-content: space-around;
    border: 3px orangered groove;
}
figure
{
    border: 3px orangered groove;
}
#conteneur2
{
    display: flex;
    justify-content: space-around;
    border: 3px orangered groove;
}
#conteneur3
{
    display: flex;
    justify-content: space-around;
    border: 3px orangered groove;
}
#conteneur4
{
    display: flex;
    justify-content: space-around;
    border: 3px orangered groove;
}
/* Navigation */
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 2%;
}
nav a
{
    font-family: Impact, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
}
nav a:hover
{
    color: white;
    border-bottom: 3px solid white;
}

/**
CAROUSEL
 */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__container::after {
    content:'';
    clear: both;
    display: table;
}

.carousel__item {
    float: left;
}