body {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#bloc_page {
    width: 100%;
    margin: auto;
}

header {
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img{
    width: 100%;
    height: auto;
}

header h1 {
    font-family: Impact, sans-serif;
    font-size: xx-large;
    color: orangered;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: Impact, sans-serif;
    font-size: medium;
    color: orangered;
    text-align: justify;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 20%;
    top: 30%;
    width: 60%;
    height: auto;
    overflow: auto; /*activer défilement si besoin */
    background-color: gainsboro;
}

#modal_content h2 {
    vertical-align: top;
    /*aligner texte avec image*/
    font-size: large;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: black;
}

#modal_content img {
    position: relative;
    top: inherit;
    vertical-align: baseline;
    float: left;
    margin-left: 1%;
    border-image: inherit;
}

#modal_content p {
    margin-top: auto;
    /*text-align: justify-all;*/
    font-size: small;
    font-family: Arial, sans-serif;
    color: black;
}

.close {
    color: red;
    float: right;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: gainsboro;
    text-decoration: none;
    cursor: pointer;
}

/* CARROUSEL */
.container {
    position: relative;  /* max-width: ?px*/
    height: 20%;          /* marrgin: 0 auto;*/
    width: 80%;           /* padding: 50px;*/
}

 button {
     color: black;
     font-weight: bold;
     height: 30%;
     width: 30px;
     font-size: 20px;
     border-color: snow;
    /*justify-items: center;*/
     background-color: snow;
     opacity: 0.63;
     font-family: sans-serif;
     z-index: 2;
     line-height: normal; /*hauteur de la boite ?*/
     cursor: pointer;
}

.prev {
    position: absolute;
    left: 0%;
    margin-top: -20px;
}

.next {
    position: absolute;
    right: 0%;
    margin-top: -20px;
}

.slider {
    position: relative;
    height: 25%;
    width: auto;
    white-space: nowrap;
    display: inline-block;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    /*padding-bottom: 10px;*/
    align-items: center;
    padding-bottom: 10px;
    overflow: hidden;
}
.slider::after {
    content: '';
    clear: both;
    display: table;
}

.slider img {
    min-width: 15%;
    vertical-align: middle;
    cursor: pointer;
}
/*
img.active {
    display: block;
    animation: fade 0.8s;
}*/
